
* {
    margin: 2;
    padding: 1;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
h1 {
    color: black;
    font-weight: bold;

}
header{
    text-align: center;

}

.nav-links{

    width: 600px;
    height: 200px;
    padding: 10px;
    border: 5px solid black;
    margin: auto;
    font-size: larger;
    border-style: solid;
    
}

.about1 {
  width: 600px;
  height: auto;
  padding: 10px;
  border: 5px solid black;
  margin: auto;
  border-style: groove;
  position: absolute;
    left: 50;
    border-style: solid;
  }




  .projects1 {
    width: autopx;
    height: auto;
    padding: 10px;
    border: 5px solid black;
    margin: auto;
    border-style: groove;
    position: absolute;
    top: 50%;
    text-align: center;
    border-style: solid;

  }