
* {
    margin: 2;
    padding: 1;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
h1 {
    color: black;
    font-weight: bold;

}
header{
    text-align: center;
    margin: 0 auto;
    width: auto;
    padding: 10;
    outline: auto;
    outline-width: 2;
}

.nav-links{
    list-style: none;/*i wanted them horizontal*/
    display: flex;
    gap: 20px;
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    
}

.about1 {
    width:100%;
    overflow:auto;
    padding: auto;
    outline: auto;
  }
.about1 {
    width:33%;
    float:left;
  }


 /*  make one big box with all of them
  .projects1 {
    width:33%;
    float:none;
  }
  .resume1 {
    width:33%;
    float:right;
  }


  MAKE ITS OWN BOX PLS FUTURE ME
.projects1{
    padding: auto;
    outline: auto;
}
  

 *\